* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
    font-size: 16px;
}

#header {
    width: 980px;
    height: 110px;
    margin: 0 auto;
    position: relative;
    background: white;
}

.logo {
    position: absolute;
    left: 10px;
    top: 15px;
}

.login {
    color: darkgray;
    position: absolute;
    right: 100px;
    top: 40px;
}

#guide {
    width: 100%;
    background-color: black;
    margin: 0 auto;
}

li {
    text-align: center;
    color: white;
    list-style: none;
}


.nav ul {
    width: 980px;
    height: 40px;
    margin: 0 auto;
}

.nav ul .one {
    width: 196px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    float: left;
}

li:hover {
    color: white;
    background-color: red;
}

#banner {
    width: 100%;
    text-align: center;
}

.content1 {
    width: 980px;
    margin: 0 auto;
}

.content1 .pic {
    height: 150px;
    margin: 0 auto;
    padding: 5px;
}

.content1 .pic div {
    border: 1px solid #CCCCCC;
    float: left;
    width: 237px;
    height: 100px;
}

.content1 .pic .p {
    text-align: center;
}

.content1 .pic div img {
    float: left;
    margin-top: 25px;
}

.content1 .pic div .p1 {
    font-weight: bolder;
    margin-top: 25px;
}

.content1 .pic div .p2 {
    color: #CCCCCC;
    font-size: 6px;
}

.content2 {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

.content2 p {
    font-size: 18px;
    font-weight: bolder;
}

.content2 div {
    float: left;
    margin: 10px auto;
    padding: 5px;
}

.content3 {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

.content3 p {
    font-size: 18px;
    font-weight: bolder;
    margin: 10px;
}

.content3 .o1 {
    width: 300px;
    border: 1px solid #CCCCCC;
    margin: 10px;
    float: left;
    height: 400px;
}

.content3 .o1 .P1 img {
    float: left;
}

.content3 .o1 .P1 {
    height: 120px;
    padding-left: 5px;
}

.content3 .o1 .P1 .p5 {
    font-size: 5px;
    color: #CCCCCC;
}

#footer {
    height: 100px;
    background-color: #000000;
}

#footer p {
    color: white;
    text-align: center;
    line-height: 50px;
}
